<%= form_with(model: game, local: true) do |form| %>
<% if game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
  <ul>
    <% game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="table-users">
  <table>
    <thead>
      <tr>
        <th scope="col">Select Players</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.select :users_list, options_for_select(@users.collect{|x| [x.username, x.id]}), {} ,{:multiple => true, :style => "width:350px;"} %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="centered">
  <%= form.submit %>
</div>
<% end %>
