<p id="notice"><%= notice %></p>

<h1>Frames</h1>

<table>
  <thead>
    <tr>
      <th>Frame by user</th>
      <th>Try1</th>
      <th>Try2</th>
      <th>Try3</th>
      <th>Score</th>
      <th>Turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frames.each do |frame| %>
      <tr>
        <td><%= frame.frame_by_user %></td>
        <td><%= frame.try1 %></td>
        <td><%= frame.try2 %></td>
        <td><%= frame.try3 %></td>
        <td><%= frame.score %></td>
        <td><%= frame.turn %></td>
        <td><%= link_to 'Show', frame %></td>
        <td><%= link_to 'Edit', edit_frame_path(frame) %></td>
        <td><%= link_to 'Destroy', frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frame', new_frame_path %>
